:root {
    --fontFamily: 'Segoe UI';
    --Fire: linear-gradient(to bottom, red, red, orange);
    --Water: linear-gradient(to bottom, darkblue, blue);
    --Grass: linear-gradient(to bottom, darkgreen, green);
    --Electric: linear-gradient(to bottom, orange, yellow);
    --Bug: linear-gradient(to bottom, green, orange);
    --Flying: linear-gradient(to bottom, cyan, lightgrey);
    --Fighting: linear-gradient(to bottom, red, brown);
    --Rock: linear-gradient(to bottom, brown, grey);
    --Ground: linear-gradient(to bottom, brown, orange);
    --Normal: linear-gradient(to bottom, grey, beige);
    --Psychic: linear-gradient(to bottom, purple, pink);
    --Ghost: linear-gradient(to bottom, grey, purple);
    --Poison: linear-gradient(to bottom, navy,rgb(245, 0, 245));
    --Ice: linear-gradient(to bottom, blue, cyan);
    --Dragon: linear-gradient(to bottom, navy, red);
    --Dark: linear-gradient(to bottom, black, purple);
    --Steel: linear-gradient(to bottom, navy, grey);
    --Fairy: linear-gradient(to bottom, pink, yellow);
    --badgeGlow: rgba(255, 201, 52, 0.821);
    --darkBackground: rgb(67,67,67);
}

button:hover, select:hover { 
    cursor: pointer;
}

body {
    display: flex;
    flex-wrap: wrap;
}

#nav {
    position: absolute;
    top: 0;
    left: 0;
}

.navBtn button { 
    font-weight: bold;
}








/*                                     */








.cardSection {
    width:100%;
    display: flex;
    position: relative;
    align-items: center;
    padding: 0.25rem;
    box-sizing: border-box;
    font-weight: bold;
}
.dexCard {
    margin: 1rem;
    border: 4px solid black;
    box-sizing: border-box;
    height: 200px;
    width: 150px;
    aspect-ratio: 1;
    font-size: 0.65rem;
    position: relative;
    background-color: beige;
    font-family: var(--fontFamily);
    overflow: hidden;
}

.dexCardHeader {
    justify-content: space-between;
    background-color: #b2b1b1;
    position: relative;
    overflow: hidden;
    height: 8%;
    top: 0;
    font-size: 90%;
}

.dexCardCost {
    background-color: rgba(245, 245, 220, 0.534);
    border: 1px solid brown;
    box-sizing: border-box;
    padding: 0.02rem 0.1rem;
    border-radius: 100px;
    position: relative;
    color: red;
    right: 3px;
}

.dexCardName {
    position: absolute;
    left: 13px;
    font-size: 125%;
}

.dexType {
    padding: 1rem 0.22rem;
    position: relative;
    left: 4px;
}

.dexHealthBar {
    background-color: green;
    height: 10%;
    color: black;
    justify-content: center;
    border-bottom: 4px solid black;
}

.dexType {
    font-size: 80%;
}

.dexSpriteBox {
    width: 75%;
    aspect-ratio: 1/1;
    border: 1px solid black;
    background-color: grey;
    display: grid;
    place-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.dexSpriteImg {
    aspect-ratio: 1;
    width: 80%;
}

.dexStatBar {
    border-top: 4px solid black;
    background-color: orange;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-bottom: 10rem;
}

.dexStatBar span {
    font-size: 1.5rem;
    aspect-ratio: 1;
    width: 35%;
    box-sizing: border-box;
    position: relative;
    bottom: 0.15rem;
    margin: 0.15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dexStatBar span:nth-of-type(1) {
    background-color: pink;
    color: red;
    border: 3px solid red;
}

.dexStatBar span:nth-of-type(2) {
    background-color: lightblue;
    color: rgb(0, 106, 255);
    border: 3px solid blue;
}

.dexStatBar span:nth-of-type(3) {
    background-color: lightyellow;
    color: orange;
    border: 3px solid brown;
}

.dexTypeFire { 
    background-image: var(--Fire);
    color: white;
}
.dexTypeWater { 
    background-image: var(--Water);
    color: white;
}
.dexTypeGrass { 
    background-image: var(--Grass);
    color: white;
}
.dexTypeElectric { 
    background-image: var(--Electric);
    color: black;
}
.dexTypeBug { 
    background-image: var(--Bug);
    color: white;
}
.dexTypeFlying { 
    background-image: var(--Flying);
    color: black;
}
.dexTypeFighting { 
    background-image: var(--Fighting);
    color: white;
}
.dexTypeRock { 
    background-image: var(--Rock);
    color: white;
}
.dexTypeGround { 
    background-image: var(--Ground);
    color: white;
}
.dexTypeNormal { 
    background-image: var(--Normal);
    color: black;
}
.dexTypePsychic { 
    background-image: var(--Psychic);
    color: white;
}
.dexTypeGhost { 
    background-image: var(--Ghost);
    color: white;
}
.dexTypePoison { 
    background-image: var(--Poison);
    color: white;
}
.dexTypeIce { 
    background-image: var(--Ice);
    color: white;
}
.dexTypeDragon { 
    background-image: var(--Dragon);
    color: white;
}
.dexTypeDark { 
    background-image: var(--Dark);
    color: white;
}
.dexTypeSteel { 
    background-image: var(--Steel);
    color: white;
}
.dexTypeFairy { 
    background-image: var(--Fairy);
    color: grey;
}









/*                               */











.profileSection {
    /* display: grid;
    place-items: center; */
    border: 2px solid black;
    font-weight: bold;
    font-family: consolas;
}
#playerAvatarBox {
    position: relative;
    left: 5%;
    height: 25vh;
    aspect-ratio: 1;
    padding: 1.5rem;
    box-sizing: border-box;
}
#playerRosterBox {
    position: absolute;
    height: 25vh;
    min-width: 75vw;
    right: 1%;
    top: 1%;
}
#playerBadgeBox {
    /* position: absolute;
    left: 4%;
    bottom: 2%; */
    position: relative;
    transform: translate(-50%,40%);
    height: 69vh;
    width: 15rem;
}

#playerPCBox {
    position: absolute;
    width: 75vw;
    height: 70vh;
    right: 1%;
    bottom: 1%;
}

#changeAvatar {
    margin: 0.5rem;
}

#avatarChangeWrap {
    position: absolute;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    background-color:#b2b1b1;
}

#badgeRegionWrap {
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#badgeRegionWrap button {
    margin: 0.1rem;
}

#badgeCase {
    box-sizing: border-box;
    position: absolute;
    height: 80%;
    width: 100%;
    bottom: 0;
    display: grid;
    place-items: center;
}

#badgeCase table {
    border: 2px solid orange;
}

.badgeHolder {
    background-color: var(--darkBackground);
    width: 50px;
    height: 50px;
    margin: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    position: relative;
}

.badgeImage {
    position: absolute;
    top: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0.4);
    box-shadow: 0px 0px 20px 2px var(--badgeGlow) inset;
    background-color: grey;
    border-radius: 100%;
    padding: 0.5rem;
}